{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 150,
    "[css]": {
        "editor.formatOnSave": false
    },
    "[scss]": {
        "editor.formatOnSave": false
    },
    "[less]": {
        "editor.formatOnSave": false
    }
}
